@tailwind base;
@tailwind components;
@tailwind utilities;

  
@layer components{
    .navbar{
  width: 100vw;
  color: white;
  background: radial-gradient(166.82% 166.82% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%);
}
.MainDiv{
    width: 223px;
    height: 178px;
}
}
